{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <h1>Modification Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    <button type="button" class="btn btn-info"><a href="{{ path('client_index') }}" class="text-white" style="text-decoration:none;" >Annuler</a></button>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
