{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Création nouveau Client</h1>

    {{ include('client/_form.html.twig') }}

    <button type="button" class="btn btn-info"><a href="{{ path('client_index') }}" class="text-white" style="text-decoration:none;" >Annuler</a></button>
    
{% endblock %}
