{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <br><br>
    <h1>Création nouveau Commande</h1>

    {{ include('commande/_form.html.twig') }}
    
    <button type="button" class="btn btn-info"><a href="{{ path('commande_index') }}" class="text-white" style="text-decoration:none;" >Annuler</a></button>

{% endblock %}
