{% extends 'base.html.twig' %}

{% block title %}New LigneCommande{% endblock %}

{% block body %}
    <h1>Creation nouveau LigneCommande</h1>

    {{ include('ligne_commande/_form.html.twig') }}

    <button type="button" class="btn btn-info"><a href="{{ path('ligne_commande_index') }}" class="text-white" style="text-decoration:none;" >Annuler</a></button>

{% endblock %}
