{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <br><br>
    <h1>Creation nouveau Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <button type="button" class="btn btn-info"><a href="{{ path('produit_index') }}" class="text-white" style="text-decoration:none;" >Annuler</a></button>

{% endblock %}
