{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Modification Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button type="button" class="btn btn-info"><a href="{{ path('categorie_index') }}" class="text-white" style="text-decoration:none;" >Annuler</a></button>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
